{% load i18n %}

<form action="{% url 'set_language' %}" method="POST" class="d-flex me-2">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ redirect_to }}">
    <select name="language" class="form-control">
        {% get_current_language as LANGUAGE_CODE %}
        <option value="ru" {% if LANGUAGE_CODE == 'ru' %} selected {% endif %}>
            Русский - ru
        </option>
        <option value="en" {% if LANGUAGE_CODE == 'en' %} selected {% endif %}>
            English - en
        </option>
    </select>
    <button class="ms-2 btn text-white bg-primary">{% trans 'Перевести' %}</button>
</form>
