{% extends 'flatpages/default.html' %}

{% load censor %}
{% load custom_tags %}
{% load i18n %}

{% block title %}
{% trans 'Все статьи' %}
{% endblock title %}

{% block content %}

<h1 class="mt-5 mb-2">{% trans 'Все статьи' %} ({{ page_obj.paginator.count }})</h1>

<div class="mb-5">
    <a href="/news/search/" class="text-decoration-none">{% trans 'Поиск' %}</a>
    <a href="/news/create/" class="text-decoration-none">{% trans 'Создать новость' %}</a>
    <a href="/article/create/" class="text-decoration-none">{% trans 'Создать статью' %}</a>
    {% if is_not_author %}
        <a href="/news/upgrade/" class="text-decoration-none">{% trans 'Стать автором' %}</a>
    {% endif %}
</div>

{% if posts %}
    {% for post in posts %}
        <ul>
            <li>
                <div class="mb-0 h5">
                    <a href="/news/{{ post.id }}" class="text-decoration-none">{{ post.title|censor }}</a>
                </div>
                <div class="text-secondary" style="font-size: .875rem;">от {{ post.dt_created|date:'d.m.Y' }}</div>
                <!-- вместо фильра "truncatechars" можно воспользоваться методом "preview" модели -->
                <div class="mt-2">{{ post.content|truncatechars:20|censor }}</div>
            </li>
        </ul>
    {% endfor %}
{% else %}
    <div>{% trans 'Статьи отсутствуют' %}!</div>
{% endif %}

{% if page_obj.paginator.num_pages > 1 %}
<nav>
    <ul class="pagination">
        {% for page_number in page_obj.paginator.get_elided_page_range %}
            {% if page_number == page_obj.number %}
                <li class="page-item active">
            {% else %}
                <li class="page-item">
            {% endif %}
                {% if page_number != page_obj.paginator.ELLIPSIS %}
                    <a class="page-link" href="?{% url_replace page=page_number %}">{{ page_number }}</a>
                {% else %}
                    <span class="page-link">{{ page_number }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}

{% endblock content %}
